body { 
    background-image:url('assets/Impact.gif');
     background-repeat:repeat; 
     width: 100% ;
}
h1{color: white; }
h2{color: rgb(111, 182, 19);}
h4{ color: rgb(0, 183, 255);}
p{font-size: 29px;}

/*Goal 1: CSS Selectors*/
.id-selector{
    text-align: center;
}

/*Goal 2: CSS Colors*/
/* Background Colors*/

.bg-lightblue{
    background-color: rgb(0, 153, 255);
}
.bg-red{
    background-color: rgb(255, 8, 0);
}
/* Font Color */
.text-red{
    color: red;
}
.text-blue{
    color: blue;
}
.text-green{
    color: green;
}
.text-white{
    color: white;
}
.text-yellow{
    color: yellow;

}
.text-black{
    color: black;
}
.text-orange{
    color: orange;
}
/* Goal 3: CSS Fonts*/
/* font properties */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

/* font Families*/
.arial-font{
    font-family: 'Arial';
}


